body{
min-height: 325 vh;
max-width: 800 px;
margin: 0 auto;
border: 3px solid blue;
background-image: url("https://1.bp.blogspot.com/-SNJdpkhmVeg/U-0WijOZAqI/AAAAAAAABxI/L_4Vzl4G0Q0/s1600/Palestine_flag_4515x3000_backgrounds-wallpapers.png") ;
background-color: blue;    
height: 500px;
background-position: center;
background-repeat: repeat;
background-size: cover;
color: cyan;
}
h1{
font-size: 70px;
font-weight: 600;
color:aqua;
}
h2{
font-size: 20px;
font-weight: 600;
}
.center{
    display: block;
    margin-left: auto;
 margin-right: auto;
}
.x{
    text-align: center;
}




















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































